:root {
    --white: #FEFEFE;

    --textLight: #727273;
    --textMedium: #404040;
    --textBlack: #0D0D0D;

    --gray090: #EAEAEA;
    --gray200: #BBBBBB;
    --gray300: #BFBFBF;
    --gray350: #B0B0B0;
    --gray400: #A6A6A6;
    --gray450: #737373;
    --gray500: #595959;
    --gray550: #404040;
    --gray650: #262626;

    --green090: #E4F2E7;
    --green100: #97A6A0;
    --green150: #8AA6A3;
    --green200: #93BFB7;
    --green250: #387373;
    --green300: #4C5958;
    --green400: #127369;
    --green700: #10403B;
    --green750: #2D3E40;

    --red500: #AB222E;
}